# Arquivos gerados pela compilação do Java
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz

# Logs e arquivos de runtime do Java
*.log
hs_err_pid*
replay_pid*

# Pastas de build (Maven, Gradle)
/target/
/build/
/out/

# Arquivos do Maven
pom.xml.bak
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml

# Arquivos do Gradle
/.gradle/
/gradle/
!/gradle/wrapper/gradle-wrapper.jar
!/gradlew
!/gradlew.bat

# Arquivos de IDEs

# IntelliJ IDEA
/.idea/
*.iml
*.ipr
*.iws

# Eclipse
/.settings/
/.project
/.classpath
*.factorypath

# NetBeans
/nbproject/
/dist/
/nbbuild/
/nbdist/

# VS Code
/.vscode/

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos de segredos e configuração local
.env
local.properties